.generate-box-main {
  text-align: center;
  padding: 20px;
}

.image-container {
  width: 100%; /* Set width to 100% */
}

.info-container {
  margin-top: 10px; /* Add margin to separate image and info */
  text-align: center; /* Center content horizontally */
  display: flex;
  justify-content: center;
  /* font-size: 2vh; */
}

.image-box img {
  border: 9px solid white;
  border-radius: 5px;
  max-width: 100%; /* Change width to max-width */
  height: auto;
  object-fit: cover;
}

.input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 10px;
}

.input-box * {
  color: black;
}

.input-box button {
  padding: 5px;
}

.social-button {
  margin-left: 10px;
}

.socials-container {
  margin-top: 10px;
}

.button-container {
  margin-top: 50px;
}

.download-button {
  margin-top: 10px;
  padding-top: 10px;
  background-color: #28a745;
  border-color: #28a745;
  color: white;
  size: 50px;
  border: 2px solid black;
}
.download-button:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.dark-button {
  background-color: #343a40;
  color: #ffffff;
  border: none;
}

.dark-button:hover {
  background-color: #23272b;
  color: #ffffff;
}
