.custom-modal-body {
  color: black;
  text-decoration-color: black;
}

paragraph-margin-bottem{
  margin-bottom: 0;
}
p{
  color: black;
  padding:0;
  
}
.body-color{
  color: black;
  text-decoration-color: black;
}