.custom-modal-body {
  color: black;
  text-decoration-color: black;
}

p{
  color: black;
  padding:0;
  
}

.div-1 p{
  color: white;
}

.body-color{
  color: black;
  text-decoration-color: black;
}